@import '~/styles/helpers.scss';

.container {
    position: relative;
    font-family: 'Lato', sans-serif;
    margin-bottom: $nav-height;
}

.title {
    @include font-l;
    position: relative;
    font-weight: 400;
    margin: 0 0 px(10);
    padding-bottom: px(5);
    width: 100%;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 100%;
        width: 100%;
        height: px(1);
        background-color: $c-black;
    }
}

.row {
    @include font-m;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;

    &Me {
        font-weight: 700;
    }

    &Item {
        margin: px(5) 0;

        &Icon {
            $size: px(24);
            width: $size;
            height: $size;
            border-radius: 50%;
            object-fit: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin: px(5) 0;
            &Img {
                width: $size;
                height: $size;
            }
            &Placeholder {
                width: $size / 3 * 2;
                height: $size / 3 * 2;
            }
        }

        &Name {
            margin: px(5) auto px(5) px(10);
        }

        &Error {
            text-decoration: underline;
            color: inherit;
        }
    }
}
