@import '~/styles/helpers.scss';

.container {
    position: fixed;
    left: 0;
    top: calc(40vh + #{px(10)});
    width: 100vw;
    padding-bottom: $nav-height;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(#{px(3)});
}

.message {
    $size: px(150);
    padding: px(15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border-radius: px(10);
    color: $c-white;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 25%);

    &Correct {
        background-color: $c-green;
    }
    &Incorrect {
        background-color: $c-red;
    }
}

.text {
    margin: px(15) 0 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: px(24);
}

.icon {
    margin: auto;
    font-size: px(30);
    color: $c-white;
}

.description {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: px(12);
    text-align: center;
    margin: 0 0 px(15);

    &Bold {
        display: block;
        font-weight: 700;
        margin-top: px(2);
    }
}
