@use 'sass:math';
$base-size: 16;

@mixin removeButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@mixin visually-hide() {
    clip: rect(px(1), px(1), px(1), px(1));
    height: px(1);
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap; /* added line */
    width: px(1);
}

@function px($target, $context: $base-size) {
    @return math.div($target, $context) * 1rem;
}

// font mixins
@mixin pageTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: px(20);
}

@mixin musicIcon {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    margin: 0;
    text-align: center;
    letter-spacing: px(-2);
}

@mixin musicFont {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
    letter-spacing: 0;
}

@mixin subText {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: px(12);
}

@mixin firstLetterCapital {
    &::first-letter {
        text-transform: uppercase;
    }
}
