@use 'sass:math';
@import '~/styles/helpers.scss';

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 0 px(50);
}

.title {
    @include pageTitle;
    margin: 0 0 px(20);
}

.badges {
    $block-margin: px(20);
    @include hideScrollbar;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: $badge-height * 2 + px(20);
    width: auto;
    gap: px(20) px(30);
    overflow-y: scroll;
    margin: 0 (-$block-margin);
    padding: 0 $block-margin;
    scroll-snap-type: x mandatory;
    @for $i from 0 through 100 {
        &-#{$i} {
            grid-template-columns: repeat(#{math.ceil($i / 2)}, 1fr);
        }
    }
}

.login {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    width: 100%;
    &Prompt {
        @include font-l;
        margin: 0 0 px(30);
    }
    &Benefits {
        @include font-s;
        margin: px(5) 0;
    }
}
