@import '~/styles/helpers.scss';

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 0 px(50);
}

.title {
    @include pageTitle;
    margin: 0 0 px(20);
}

.badges {
    $block-margin: px(20);
    @include hideScrollbar;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: px(20) px(30);
    overflow-y: scroll;
    margin: 0 (-$block-margin);
    padding: 0 $block-margin;
    scroll-snap-type: x mandatory;
}

.badge {
    scroll-snap-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: px(15);
    &Icon {
        $padding: px(10);
        $height: px(120);
        width: px(80);
        height: $height - $padding * 2;
        border-radius: px(10);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 auto;
        padding: px(10) 0;
        &Level {
            font-weight: 700;
            font-size: px(14);
            margin: 0;
        }
        &Img {
            margin: 0;
        }
    }

    &Title {
        margin: 0;
        font-weight: 400;
        font-size: px(20);
    }

    &Description {
        @include firstLetterCapital;
        margin: px(5) 0 px(10);
        width: px(150);
        font-weight: 300;
        font-size: px(12);
    }

    &Progress {
        $progress: 75%;
        $text: 20%;
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &Text {
            margin: 0;
            font-weight: 300;
            font-size: px(8);
            width: $text;
            text-align: end;
        }

        &Bar {
            $height: px(12);
            position: relative;
            overflow: hidden;
            background-color: $c-green;
            display: flex;
            align-items: center;
            height: $height;
            width: $progress;
            border-radius: $height / 2;
            padding: 0 px(5);

            &Text {
                margin: 0;
                color: $c-white;
                font-weight: 300;
                font-size: px(8);
                z-index: 1;
            }

            @each $color, $hex in $themeColors {
                &-#{$color} {
                    background-color: rgba($hex, 0.25);

                    &::after {
                        background-color: $hex;
                    }
                }
            }
            @for $i from 0 through 100 {
                &-#{$i}::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: percentage($i / 100);
                    border-radius: $height / 2;
                }

                &-100 {
                    width: 100%;
                }
            }
        }
    }
}
