@import '~/styles/helpers.scss';

$padding: px(30);

.head {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - #{$padding} * 2);
    height: calc(50vh - #{$padding} * 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $padding;
}

.question {
    @include firstLetterCapital;
    @include font-xl;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: px(20) 0 0;
    text-align: center;
}

.icon {
    @include font-xxxl;
    @include musicIcon;
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    background-color: $c-white;
    color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &Text {
        @include font-xxl;
        @include musicFont;
    }
}

.answers {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45vh;
    background-color: $c-background;
    border-radius: px(10) px(10) 0 0;
    padding: $padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.answer {
    @include removeButton;
    @include firstLetterCapital;
    @include font-m;
    position: relative;
    border-radius: px(10);
    width: 100%;
    color: $c-white;
    font-weight: 400;
    padding: px(5) px(10);
    margin-bottom: auto;
    height: calc(24% - #{$padding} / 4);

    &:last-of-type {
        margin-bottom: 0;
    }

    &Blue {
        background-color: $c-blue;
    }
    &Green {
        background-color: $c-green;
    }
    &Red {
        background-color: $c-red;
    }
    &Yellow {
        background-color: $c-yellow;
    }
    &True {
        background-color: $c-green;
        height: calc(50% - #{$padding} / 2);
    }
    &False {
        background-color: $c-red;
        height: calc(50% - #{$padding} / 2);
    }
}
