@import '~/styles/helpers.scss';

$padding: px(30);
$head-height: calc(50vh - #{$padding} * 2);

@keyframes hover {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(#{px(3)});
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.container {
    margin-top: $head-height;
    padding: 0 px(20) calc(#{px(30)} + #{$nav-height});
    font-family: 'Lato', sans-serif;
    background-color: $c-background;
    border-radius: px(10) px(10) 0 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: $z-overlay;
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - #{$padding} * 2);
    height: calc(50vh - #{$padding} * 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $padding;
    z-index: 1;
}

.title {
    @include font-xl;
    font-weight: 700;
    margin: 0;
    margin: px(20) 0 0;
    text-align: center;
}

.icon {
    @include font-xxxl;
    @include musicIcon;
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    background-color: $c-white;
    color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;

    &Text {
        @include font-xxl;
        @include musicFont;
    }
}

.result {
    @include font-m;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: px(16);
    font-weight: 400;
    border-radius: px(10);

    &Score {
        margin-top: px(30);
    }

    &Xp {
        margin: px(30) 0 px(70);
    }

    &Text {
        margin: 0;
    }
}

.endButton {
    @include removeButton;
    @include font-m;
    display: block;
    margin: 0 auto;
    padding: px(15) px(50);
    color: $c-white;
    background-color: $c-green;
    font-weight: 400;
    border-radius: px(10);
}

.view {
    @include font-l;
    position: relative;
    display: block;
    text-align: center;
    margin: px(50) auto;
    font-weight: 300;

    &::after {
        position: absolute;
        content: '';
        top: calc(100% + #{px(10)});
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
        animation: hover 2.5s ease-in-out infinite;
    }
}

.answer {
    $margin: px(30);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: px(20);
    margin: $margin 0;

    &:not(:last-of-type)::after {
        position: absolute;
        content: '';
        top: calc(100% + #{$margin} / 2);
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: px(1);
        background-color: #e0e0e0;
    }

    &Icon {
        $size: px(85);
        @include font-xxl;
        @include musicIcon;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        color: $c-white;
        background-color: $c-red;
        width: $size;
        height: $size;
        border-radius: 50%;

        &Text {
            @include font-xl;
            @include musicFont;
        }
        &Correct {
            background-color: $c-green;
        }
    }

    &Question {
        @include font-m;
        margin: 0 0 px(5);
        font-weight: 400;
    }

    &Row {
        @include font-s;
        margin: 0;
        font-weight: 400;

        &Light {
            @include firstLetterCapital;
            font-weight: 300;
        }
    }
}
