@import '~/styles/helpers.scss';
$size: px(65);

.friend {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: px(20);
}

.icon {
    position: relative;
    border-radius: 50%;
    width: $size;
    height: $size;
    margin: 0 px(20) 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &Content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;

        &Placeholder {
            width: 60%;
            height: 60%;
        }
    }
}

.content {
    flex: 1;
    margin: 0 auto 0 0;
}

.name {
    @include font-l;
    margin: 0 0 px(5);
    font-weight: 400;

    &Id {
        @include font-m;
        font-weight: 300;
    }
}

.info {
    @include font-s;
    margin: 0;
    font-weight: 300;

    &Highlight {
        font-weight: 400;
    }
}

.dots {
    $dotSize: calc(#{$size} / 7);
    $color: #aeaeae;
    @include removeButton;
    position: relative;
    margin: calc(#{$dotSize} * 3) px(10) calc(#{$dotSize} * 3) $dotSize;
    border-radius: 50%;
    display: block;
    height: $dotSize;
    width: $dotSize;
    background-color: $color;

    &::after,
    &::before {
        position: absolute;
        content: '';
        border-radius: 50%;
        left: 0;
        background-color: $color;
        width: $dotSize;
        height: $dotSize;
    }

    &::after {
        top: calc(#{$dotSize} + #{$dotSize} / 2);
    }
    &::before {
        bottom: calc(#{$dotSize} + #{$dotSize} / 2);
    }
}

.inviteCancel {
    @include removeButton;
    color: $c-white;
    height: px(30);
    width: px(30);
    background-color: $c-red;
    border-radius: px(5);
}

.inviteAccept {
    @include removeButton;
    color: $c-white;
    height: px(30);
    width: px(30);
    background-color: $c-green;
    border-radius: px(5);
    margin-left: px(10);
}

.remove {
    @include font-s;
    position: absolute;
    top: $size - px(15);
    right: 0;
    font-weight: 300;
    text-decoration: underline $c-white;
    color: $c-white;
    background-color: $c-yellow;
    padding: px(5) px(20);
    border-radius: px(5);
    z-index: $z-overlay;

    &Cross {
        margin-left: px(10);
        text-decoration: none;
    }

    &::after {
        position: absolute;
        content: '';
        bottom: 96%;
        right: px(10);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $c-yellow;
    }
}
