@import '~/styles/helpers.scss';

.container {
    font-family: 'Lato', sans-serif;
    margin-bottom: $nav-height;
}

.title {
    @include pageTitle;
    margin: 0 0 px(20);
    display: inline-block;
}

.login {
    &Button {
        @include removeButton;
        @include font-m;
        display: block;
        margin: 0 auto;
        width: 50vw;
        padding: px(16) 0;
        background-color: $c-yellow;
        border-radius: px(10);
        color: $c-white;
        font-weight: 400;
    }
    &Login {
        margin: px(50) auto 0;
    }
    &Text {
        @include font-m;
        margin: px(10) 0;
        text-align: center;
        font-weight: 400;
        color: #898989;
    }
}

.addFriends {
    @include removeButton;
    @include font-s;
    font-weight: 300;
    padding: px(5) px(10);
    background-color: $c-green;
    border-radius: px(6);
    color: $c-white;
    margin-left: px(12);
}

.noFriends {
    @include removeButton;
    display: block;
    padding: px(10) px(28);
    background-color: $c-green;
    border-radius: px(10);
    color: $c-white;
}
