@import '~/styles/helpers.scss';

.container {
    position: relative;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &Date {
        color: $c-white;
        padding: px(8);
        margin: 0;
        border-radius: px(10);
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 20;
        background-color: rgba($c-yellow, 0.5);

        &Green {
            background-color: $c-green;
        }

        &Red {
            background-color: $c-red;
        }

        &Upcoming {
            background-color: rgba($c-blue, 0.5);
        }
    }
}

.info {
    @include font-s;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-weight: 300;
    padding-top: px(10);

    &Today {
        position: relative;
        padding: px(5) px(10);
        margin: 0;
        background-color: $c-yellow;
        color: $c-white;
        border-radius: px(5);

        &::after {
            position: absolute;
            content: '';
            bottom: 96%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $c-yellow;
        }
    }

    &Current {
        text-align: left;
        margin: 0;
        padding: px(5) 0;
    }

    &Longest {
        text-align: right;
        margin: 0;
        padding: px(5) 0;
    }
    &Login {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline $c-white;
    }
}

.bold {
    font-weight: 700;
}
